/* ----- font -----
    Police TEXTE
  font-family: 'Montserrat';
    Police TITRES
  font-family: 'Ubuntu'; 
*/

/* PAGE */
*{
  box-sizing: border-box;
}

body {
  margin: auto;
  border: 2px #546e7a solid;
  font-family: "Montserrat", "Trebuchet MS", Arial, sans-serif;
  font-size: 23px;
}

body h1, h2, h3 {
  font-family: "Ubuntu", "Trebuchet MS", Arial, sans-serif;
   color: #263238;
}


/* CONTENANT */
.container {
  display: flex;
}

/* Header Mobile */
.mobile-title{
  display: none;
}

/* ----------BLOC GAUCHE---------- */
.contain-left {
  display: flex;
  flex-direction: column;
  color: white;
  width: 30%;
  background-color: #263238;
}

/* Avatar */
.avatar {
  text-align: center;
  margin: 50px 0 50px 0;
}

.avatar img {
  width: 220px;
  height: 220px;
  border: 2px #00bcd4 solid;
  border-radius: 250px 250px 250px 250px;
}

/* Titres des sections gauche */
.contain-left h2 {
  text-align: center;
  margin-top: 0;
  color: #263238;
  background-color: #00bcd4;
  padding: 2px 0 2px 0;
}

/* Paragraphes bloc gauche */
.contain-left p {
  padding: 10px 50px 10px 50px;
}

/* Liens barre gauche */
.contact a {
  color: white;
  text-decoration: none;
  word-break: break-all
}

.contact a:hover {
  color: #00bcd4;
}

/* Proportion bloc a propos */
.contain-left section:nth-child(3) {
  flex: 1;
}

/* Icones Loisirs */
.loisirs {
  text-align: center;
}

.loisirs img {
  margin: 25px 10px 30px 10px;
  border: 2px white solid;
  border-radius: 50%;
}

.fa-loisirs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* ----------BLOC DROIT---------- */
.contain-right {
  display: flex;
  flex-direction: column;
  width: 70%;
}

/* header */
header {
  margin: 8% 4% 10% 8%;
}

header h1 {
  margin: 15px 0 10px 0;
  font-size: 2.5em;
}

header h1 span {
  color: #00bcd4;
}

header h2 {
  margin: 5px 0 10px 0;
  color: #263238;
}

header h2 span {
  border-bottom: 2px #00bcd4 solid;
}

/* Marges conteneur right */
.contain-right section {
  margin: 0 4% 1% 8%;
}

/* COULEURS icon-title */
.contain-right i {
  color: #00bcd4;
}

/* icon-titles sections droite */
.icon-title {
  margin-right: 25px;
}

/* titres des sections */
.title_right {
  margin: 20px 0 50px 0;
  padding-bottom: 10px;
  border-bottom: 3px #00bcd4 solid;
}

/* icônes */
.icon {
  margin-right: 8px;
}

/* div gauche des articles */
.gauche {
  width: 25%;
  margin-right: 25px;
}

.date {
  display: flex;
  margin-top: 0;
}

/* div droite des articles */
.droite {
  width: 75%;
  margin-bottom: 70px;
}

.droite h3, h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

.droite p {
  margin-top: 10px;
  margin-bottom: 0;
}

/* FOOTER */
footer {
  margin: 0 4% 2% 8%;
}

/* Section recommandation */
.recommandation {
  display: flex;
}

 .recommandation_left, .recommandation_right{
    width: 50%;
  }

.recommandation h3 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.recommandation h4 {
  margin-top: 0;
  margin-bottom: 15px;
}
.recommandation p {
  margin-top: 0;
  margin-bottom: 0;
}

.recommandation strong {
  font-size: 0.8em;
}


/* -------------------RESPONSIVE---------------------*/


/* Reponsive ajustement between laptop and max-width 1150px */
@media screen and (max-width: 1150px){

  .recommandation {
    display: block;
  }

  .recommandation_left, .recommandation_right{
    margin-bottom: 50px;
  }

  footer{
    margin-bottom: 0;
  }
}


/* REPONSIVE LAPTOP */
@media screen and (max-width: 1024px) {
  body{
    font-size: 22px;
  }

  .container {
    width: auto;
  }

  /* ------ Bloc Gauche ----- */
  .contain-left {
    width: 40%;
  }

  .contain-left p{
    padding-left: 20px;
    padding-right: 20px;
  }

  /* Header */
  header{
    margin-left: 0;
    margin-right: 0; 
  }

  /* ------ Bloc Droit ----- */
  .contain-right {
    width: 60%;
    margin-left: 5%;
    margin-right: 3%;
  }

  .contain-right section {
    margin-left: 0;
    margin-right: 0;
  }

  .contain-right article {
    display: block;
    margin-bottom: 80px;
  }

 .gauche, .droite {
    width: 100%;
    margin: auto;
  }

  .date {
    display: block;
    margin-bottom: 10px;
  }

  .droite h3 {
    margin-top: 10px;
  }

  .gauche br {
    display: none;
  }

  /* FOOTER */
  footer {
    margin-left: 0;
    margin-right: 0;
  }

  footer aside {
    margin-bottom: 20px;
  }

  .recommandation_left, .recommandation_right{
    width: 100%;
  }
}


/* RESPONSIVE TABLETTE / MOBILE */
@media screen and (max-width: 720px) {
  body{
    font-size: 19px;
  }

  .container {
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  /* Header mobile */
  .mobile-title{
    display: block;
    margin: 0;
    padding: 20px;
  }

  .mobile-title h1 {
  margin: 15px 0 10px 0;
  font-size: 2.5em;
  }

  .mobile-title h1 span {
  color: #00bcd4;
  }

  .mobile-title h2 {
  margin: 5px 0 10px 0;
  color: #263238;
  }

  .mobile-title h2 span {
  border-bottom: 2px #00bcd4 solid;
  }

  header{
    display: none;
  }

  /* ------ Bloc Gauche ----- */
  .contain-left {
    width: 100%;
    margin-bottom: 50px;
  }

  /* ------ Bloc Droit ----- */
  .contain-right {
    width: 100%;
    margin: 0;
    padding: 0 2px 0 2px;
  }

  /* ------ Taille et alignement Paragrahes Bloc Gauche ----- */
  .contact p {
    text-align: center;
  }

  .contain-left p {
    padding: 5px 5px 5px 5px;
  }

  /* ------ Taille icones bloc gauche ----- */
  .loisirs img {
    max-width: 50px;
    max-height: 50px;
  }

  /* Masquer les icon en version mobile */
  .icon {
    display: none;
  }

  /* Bloc recommandation */
  .recommandation{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

