@font-face { /* police que je souhaites utiliser */
    font-family: 'caviar_dreams';
    src: url('font/CaviarDreams-webfont.eot');
    src: url('font/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/CaviarDreams-webfont.woff2') format('woff2'),
         url('font/CaviarDreams-webfont.woff') format('woff'),
         url('font/CaviarDreams-webfont.ttf') format('truetype'),
         url('font/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
}


 										/* PAGE */
body{
	max-width: 1280px;
	margin: auto;
	border: 2px #546E7A solid;
	font-family: caviar_dreams;
	font-size: 1.2em;
}

									 /* CONTENANT */
.container{
	display: flex;
}

									 /* ----------PARTIE GAUCHE---------- */
.left{
	display: flex;
	flex-direction: column;
	color: white;
	width: 30%;
	background-color: #263238;
}

										/* Setting aside partie gauche */
.left aside{
	width: 100%;
}

.left aside:nth-child(3){
	flex: 1;
}


 										/* Centrage / taille / bordure avatar */
.avatar{
	text-align: center;
	margin: 50px 0 30px 0;
}

.avatar img{
	width: 220px;
	height: 220px;
	border: 2px #00BCD4 solid;
	border-radius: 250px 250px 250px 250px;
}

									 /* Titres des asides gauche */
.left h2{
	text-align: center;
	color: #263238;
	background-color: #00BCD4;
	padding: 2px 0 2px 0;
	font-size: 1.2em;
}

										/* Paragraphes bloc gauche */
.left p{
	padding: 30px 50px 0 50px;
}

									 /* Liens barre gauche */
.contact a{
	color: white;
	text-decoration: none;
}

.contact a:hover{
	color: #00BCD4;
}

									 /* Icones Loisirs */
.loisirs {
	text-align: center;
}

.loisirs img{
	margin: 25px 10px 30px 10px;
	border: 2px white solid;
	border-radius: 50%;
}


 										/* ----------PARTIE DROITE---------- */
.right{
	display: flex;
	flex-direction: column;
	width: 70%;
}

										/* header */

header{
	margin: 50px 20px 100px 60px;
}

header h1{
	margin: 15px 0 10px 0;
	font-size: 2.3em;
}

header h1 span{
	color: #00BCD4;
}

header h2{
	margin: 5px 0 10px 0;
	font-size: 1.7em;
}

header h2 span{
	border-bottom: 2px #00BCD4 solid;
}

										/* logos sections droite */
.logo{
	margin-right: 25px;
}
										/* titres des sections */
.title_right{
	margin: 10px 20px 15px 60px;
	padding-bottom: 10px;
	border-bottom: 3px #00BCD4 solid;
}


										/* bloc formation */
.bloc_formation{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 30px 20px 100px 60px;
}

										/* bloc formation gauche */
.formation_gauche{
	display: flex;
	width: 25%;
	padding-top: 0;
	margin-top: 30px;
}

.formation_gauche h6{
	margin-top: 2px;
}

.formation_gauche i{
	margin: 5px 10px 5px 0;
}

										/* bloc formation droite */
.formation_droite{
	width: 65%;
	padding-top: 0;
	margin-top: 30px;
}

.formation_droite h4, h5{
	margin-top: 2px;
	margin-bottom: 2px;
}


										/* bloc expérience */
.bloc_experience{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 30px 20px 100px 60px;
}

										/* bloc experience gauche */
.experience_gauche{
	display: flex;
	width: 25%;
	margin-top: 30px;
}

.experience_gauche h6{
	margin-top: 0;
}

.experience_gauche i{
	margin: 5px 10px 5px 0;
}

										/* bloc experience droite */
.experience_droite{
	width: 65%;
	margin-top:  30px;
}

.experience_droite h4, h5{
	margin-top: 2px;
	margin-bottom: 2px;
}

										/* bloc recommandation */
.bloc_recommandation{
	display: flex;
	justify-content: space-around;
	margin: 30px 20px 40px 60px;
}

.bloc_recommandation h4{
	margin-bottom: 10px;
}

.bloc_recommandation h5{
	margin-bottom: 20px;
}
.bloc_recommandation p{
	margin: 5px 0 0 0;
}




						/* -------------------RESPONSIVE---------------------*/



@media screen and (max-width: 1024px)
{
	.container
	{
		width: auto;
		flex-direction: column;
	}

								/* ------ Bloc Gauche ----- */
	.left
	{
		order: 2;
		width: 100%;
	}

	.avatar img
	{
		max-width: 150px;
		max-height: 150px;
	}

	.left h2
	{
		font-size: 1em;
	}

	.contact p
	{
		text-align: center;
	}

	.left p
	{
		font-size: 0.9em;
		padding: 10px 5px 0 5px;
	}

	.loisirs img
	{
		max-width: 40px;
		max-height: 40px;
	}

								/* ------ Bloc Droit ----- */
	.right
	{
		order: 1;
		width: 100%;
	}

	header
	{
		text-align: center;
		margin: 10px 5px 40px 10px;
	}

	header h1{
		margin: 15px 0 10px 0;
		font-size: 1.8em;
	}
	
	header h1 span{
		color: #00BCD4;
	}
	
	header h2{
		margin: 5px 0 10px 0;
		font-size: 1.2em;
	}

	.title_right
	{
		text-align: center;
		font-size: 1em;
		margin: 5px 5px 5px 5px;
	}

	.maincontain .bloc_formation
	{
		margin: 5px 0 20px 0;
	}

	.formation_gauche
	{
		margin: 5px 0 5px 0;
	}
	
	.formation_droite
	{
		margin: 5px 0 5px 0;
	}

	.maincontain .bloc_experience
	{
		margin: 5px 0 20px 0;
	}

	.maincontain .bloc_recommandation
	{
		flex-direction: column;
		text-align: center;
		margin: 5px 0 20px 0;
	}
	
	.bloc_recommandation strong
	{
		font-size: 0.7em;
	}
	.maincontain h4
	{
		font-size: 0.8em;
	}

	.maincontain h5
	{
		font-size: 0.7em;
	}

	.maincontain h6
	{
		font-size: 0.6em;
	}

	.maincontain p
	{
		font-size: 0.8em;
	}


}